{% extends 'app/dummy.html' %}


{% block title %}
    <title>School_create</title>
{% endblock %}

    {%  block body_block %}
    <center>
        {% if form.instance.pk %}
           <h2>SchoolUpdate</h2>
        {% else %}
           <h2>Schoolcreate</h2>
        {% endif %}
    
        <form method="POST">
           {% csrf_token %}
               {{form.as_p}}
           {% if form.instance.pk %}
              <input type="submit" value="SchoolUpdate" class="btn btn-success">
           {% else %}
              <input type="submit" value="Schoolcreate" class="btn btn-success">
           {% endif %}
    
        </form>
    </center>
{% endblock %}
